@import '../../../utils/_variables';
header{
    background-color: hsl(179,29%,51%);
    background-image: url('/src/styles/images/bg-header-desktop.svg');
    height: 156px;
    width: 100%;
    margin-bottom: 4rem;
}