@import '../../utils/_variables';

#listing__container{
    padding: 1.5em 2.5em;
    background: white;
    width: 80%;
    margin: auto auto;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 0 5px 5px $DarkGrayishCyan;
}

.container_right{
    display: flex;
    // justify-content: space-around;
    align-items: center;
    flex: 50%;
    gap: 2em;
}

.container_left{
    flex: 50%;
    align-self: center;
    display: flex;
    justify-content: flex-end;
}