@import '../../utils/_variables';
.search__container{
    padding: .5em .5em;
    background: white;
    border-radius: 5px;
    box-shadow: 0 5px 5px $DarkGrayishCyan;
    width: 80%;
    height: 2.5rem;
    top: -5.5rem;
    left:50%;
    position: absolute;
    transform: translate(-50%);
    display: flex;
    align-items: center;
}

.search__clear{
    font-family: $fontFamilyRubik;
    font-weight: 500;
    color: $DesaturatedDarkCyan;
    margin-left: auto;

    &:hover{
        cursor: pointer;
        border-bottom: 2px solid $DarkGrayishCyan;
    }
}