// ## Colors

// ## Primary

$DesaturatedDarkCyan: hsl(180, 29%, 50%);

// ### Neutral

$LightGrayishCyanBack: hsl(180, 52%, 96%); //(Background)
$LightGrayishCyanTab: hsl(180, 31%, 95%); //(Filter Tablets)
$DarkGrayishCyan:hsl(180, 8%, 52%);
$VeryDarkGrayishCyan: hsl(180, 14%, 20%);

// ## Typography

// ### Body Copy

$Fontsize: 15px;

// ### Headings

//## Font settings

$fontFamilySpartan: 'League Spartan', sans-serif;
$fontFamilyPoppins: 'Poppins', sans-serif;
$fontFamilyRubik: 'Rubik', sans-serif;
$FontWeights: 500, 700